<%= column_chart @order_details.group_by_day(:created_at, format: "%d/%m").sum('price/1000'), {suffix: "K"} %>
<div class="orders-summary">
  <span class="bold">TỔNG:</span> <%= number_to_currency(@order_details.sum(:price), unit: "VNĐ", delimiter: ",", format: "%n %u", precision: 0) %>
</div>