<div class="filter">
  <div class="filter__title">
    Shop by
  </div>
  <div class="filter__control">
    Collection
    <ul>
      <li class="active">
        All
      </li>
      <li>
        Iphone 6
      </li>
      <li>
        Iphone 6 Plus
      </li>
    </ul>
  </div>
</div>
<div class="filtered-products">
  <div class="order-control">
    <a>
      Newest
    </a>
  </div>
  <div>
    <% @cases.each do |filtered_case| %>
      <div class="product-item">
        <img src="<%= filtered_case.image %>">
        <%= filtered_case.name %><br>
        <%= filtered_case.formatted_price %>
      </div>
    <% end %>
  </div>
  <%= paginate @cases, left: 1, right: 3 %>
</div>