<div class="banner">
  <div class="banner__content">
    <div style="font-weight: 700; font-size: 99px; line-height: 1em;">PRICE DROP!</div>
    <div style="font-size: 31px; line-height: 1.5em; word-spacing: 2px;">
      Up to 15% Off All Our Products!
    </div>
  </div>
  <a class="banner__button" style="color: white">
    Shop Now
  </a>
  <img src="https://static.wixstatic.com/media/1f3c0f_53d999ad4539469ebfd6ac0ef92ffa76.jpg/v1/fill/w_1960,h_1078,al_c,q_90,usm_0.66_1.00_0.01/1f3c0f_53d999ad4539469ebfd6ac0ef92ffa76.webp">
</div>