<div class="banner">
  <div class="banner__content">
    <div class="banner__content--text">
      <div style="font-weight: 700; font-size: 99px; line-height: 1em;">PRICE DROP!</div>
      <div style="font-size: 31px; word-spacing: 2px; padding-left: 5px">
        Up to 15% Off All Our Products!
      </div>
    </div>
    <a class="banner__content--button" style="color: white">
      Shop Now
    </a>
  </div>
  <%= image_tag("banner.jpg") %>
</div>
<div class="black-block">
  Free Delivery in The US  <span style="color: #F0AE00;">\</span>  Same Day Shipping
</div>
<div class="products-section">
  <div class="products-section__title">
    Digital Cameras
  </div>
  <div class="products-section__products-list">
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
  </div>
</div>
<div class="products-section">
  <div class="products-section__title">
    Digital Cameras
  </div>
  <div class="products-section__products-list">
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
    <div class="products-section__products-list--product-item">
      <img src="https://static.wixstatic.com/media/1f3c0f_848ab2e155894974b9017db64d893564.jpg">
      <div class="products-section__products-list--product-item--title">
        I'm a Product
        <br>
        $19.99
      </div>
    </div>
  </div>
</div>