<div class="banner">
  <div class="banner__content">
    <div style="font-weight: 700; font-size: 99px; line-height: 1em;">PRICE DROP!</div>
    <div style="font-size: 31px; line-height: 1.5em; word-spacing: 2px;">
      Up to 15% Off All Our Products!
    </div>
  </div>
  <a class="banner__button" style="color: white">
    Shop Now
  </a>
  <%= image_tag("banner.jpg") %>
</div>