/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "dataTables/jquery.dataTables";

$orange: #F0AE00;
$radio-fill-color: $orange !default;
$radio-empty-color: #5a5a5a !default;
$input-disabled-color: rgba(0, 0, 0, .42) !default;
$radio-border: 2px solid $radio-fill-color !default;
$input-background: #fff !default;
$secondary-color: $orange;
$input-disabled-solid-color: #949494 !default;

html {
  height: 102%;
}

body {
  width: 1000px;
  min-height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.navbar {
  height: 163px;
  padding: 0.5em 0;

  &__top {
    height: 110px;
    width: 100%;
    padding: 20px 18px;
  }

  &__bottom {
    color: rgb(238, 238, 238);
    height: 39px;
    background-color: black;
    width: 100%;
    font-size: 16px;
    padding: 0.5em 1.5em;

    ul {
      list-style: none;
      padding: 0;
      display: inline;

      li {
        display: inline;
        margin-left: 15px;

        &:first-of-type {
          margin-left: 0;
        }

        &:hover, &[class='active'] {
          color: #A5A5A5;
        }
      }
    }
  }
}

.media {

  &__image {
    img {
      max-width: 69px;
    }
  }

  &__content {
    padding-left: 8px;

    &--title {
      font-size: 35px;
      position: relative;
      top: -7px;
    }

    &--description {
      font-weight: normal;
      position: relative;
      top: -16px;
      letter-spacing: 2px;
      font-size: 19px;
    }

    &--cart {
      fill: $orange;
      position: absolute;
      right: 0px;
      top: 3em;
      text-align: right;
      padding-right: 10px;

      .quantity {
        fill: white;
        font-size: 50px;
      }
    }
  }
}

.pull-right {
  float: right;
}

.body {
  padding-bottom: 170px;
}

footer {
  position: absolute;
  bottom: 0;
  color: rgb(238, 238, 238);
  background-color: black;
  padding: 1.5em 1.5em;
  font-size: 15px;
  width: 100%;

  .first-col {

    &--title {
      font-size: 19px;
      margin-bottom: 5px;
    }

    &--social-media {
      margin-top: 20px;

      img {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }

}

.banner {
  position: relative;
  margin-top: 50px;

  &__content {
    position: absolute;
    top: 4em;
    left: 2em;
    width: 381px;
    padding: 12px;

    &--text {
      background-color: rgba(255, 255, 255, 0.7);
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &--button {
      top: 22em;
      left: 1.7em;
      background-color: $orange;
      padding: 8px 40px;
      font-size: 18px;
      display: inline-block;
      -webkit-transition: background-color 0.4s ease, color 0.4s ease;
      -moz-transition: background-color 0.4s ease, color 0.4s ease;
      -o-transition: background-color 0.4s ease, color 0.4s ease;
      transition: background-color 0.4s ease, color 0.4s ease;

      &:hover {
        color: black !important;
        background-color: white;
      }
    }
  }

  img {
    max-width: 1000px;
  }
}

.black-block {
  margin-bottom: 25px;
  margin-top: 40px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.products-section {
  padding: 0 30px;
  margin-bottom: 15px;
  position: relative;

  &--left-arrow {
    position: absolute;
    left: 0;
    top: 40%;
  }

  &--right-arrow {
    position: absolute;
    right: 0;
    top: 40%;
  }

  &__title {
    text-align: center;
    font-size: 30px;
  }

  &__products-list {
    margin-bottom: 30px;
    margin-top: 10px;

    &--product-item {
      display: inline-block;
      max-width: 220px;
      position: relative;
      margin: 5px;

      img {
        width: 220px;
        height: 220px;
      }

      &--title {
        margin-top: 5px;
        font-size: 14px;
      }

      &--ribbon {
        position: absolute;
        background-color: $orange;
        color: white;
        display: inline-block;
        padding: 1px 12px;
        top: 12px;
        font-weight: bold;
      }
    }

  }
}

.filter {
  width: 240px;
  padding: 30px 18px;
  display: inline-block;
  vertical-align: top;

  &__title {
    font-weight: 400;
    font-size: 26px;
  }

  &__control {
    margin-top: 15px;

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 15px;
      font-size: 14px;

      li {
        color: rgb(31, 31, 31);
        margin-bottom: 5px;
      }

      li.active {
        font-weight: bold;
        color: black;
      }
    }

    p {
      margin: 10px 0;
    }

    p:first-of-type {
      margin-top: 15px;
    }

    label {
      margin-bottom: 0;
    }
  }
}

.filtered-products {
  width: calc(100% - 245px);
  display: inline-block;
  padding-top: 30px;

  .product-item {
    width: 225px;
    display: inline-block;
    margin: 0px 10px;
    padding: 0 20px;
    margin-bottom: 15px;
    position: relative;

    img {
      width: 205px;
      height: 205px;
    }

    .sale-ribbon {
      position: absolute;
      background-color: $orange;
      color: white;
      display: inline-block;
      padding: 2px 10px;
      top: 10px;
      font-weight: bold;
      font-size: 12px;
    }
  }

  .pagination {
    float: right;
    padding-right: 15px;
    margin-bottom: 10px;

    li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;

      a {
        color: #444;
        display: inline-block;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
      }

      &.active a {
        color: #fff;
      }

      &.active {
        background-color: $orange;
      }

      &.disabled a {
        cursor: default;
        color: #999;
      }

      i {
        font-size: 2rem;
      }
    }

    li.pages ul li {
      display: inline-block;
      float: none;
    }

    span {
      margin: 0 5px;
    }
  }

  .order-control {
    text-align: right;
    padding: 38px 40px 0;
    font-size: 16px;
    margin-bottom: 5px;

    a {
      border-width: 1px;
      border-style: solid;
      width: 213px;
      text-align: left;
      padding: 5px 15px 5px 12px;
      display: inline-block;
      background-image: image-url("dropdown-icon.png");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 185px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    position: absolute;
    border-top: none;
    z-index: 10;
    display: none;

    ul {
      list-style: none;
      padding: 0;
      background-color: white;

      li {

        a {
          border-top: none;
          border-bottom: none;
          background: none;
        }

        a.active {
          background-image: image-url("checkmark-icon.png");
          background-repeat: no-repeat;
          background-size: 28px;
          background-position: 180px;
        }

        &:last-of-type {
          a {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}

.product-image {
  width: 500px;
  font-size: 15px;
  display: inline-block;

  img {
    width: 500px;
    height: 500px;
    border: 1px solid;
  }
  .thumbnail-list {
    text-align: left;
    margin-bottom: 10px;

    .thumbnail {
      width: 43px;
      height: 43px;
      border: 1px solid;
      margin-right: 10px;
      margin-top: 10px;
    }

    .thumbnail.active {
      border: 2px solid;
    }
  }
}

.product-detail {
  width: 370px;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;

  &--title {
    font-size: 33px;
    font-weight: 400;
  }

  &--price {

  }

  &--quantity {
    margin-top: 20px;

    &--title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &--category-item {
      margin-bottom: 3px;
      font-size: 14px;
    }
  }
}

.navigation {
  padding: 20px 45px 0;
  font-size: 14px;

  .material-icons {
    position: relative;
    top: 8px;
  }

  &--breadcrumb {
    display: inline-block;
  }

  .pull-right {
    position: relative;
    top: -8px;
  }
}

.error {
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
  font-weight: bold;

  &--title {
    font-size: 120px;
    margin-bottom: 20px;
    line-height: 90px;
  }
}

.input-form {
  padding: 10%;

  .input-control {
    width: 100%;
    display: table;
    margin-bottom: 10px;

    label {
      display: table-cell;
      width: 15%;
      vertical-align: top;
    }

    input:not([type='checkbox']), textarea, .input-area {
      display: table-cell;
      width: 100%;
    }
  }
}

.pill-button {
  background-color: $orange;
  color: white;
  padding: 8px 40px;
  font-size: 18px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 10px;
}

.devider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0;
}

.materialize {
  /* Checkboxes
   ========================================================================== */

  /* Remove default checkbox */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  // Checkbox Styles
  [type="checkbox"] {
    // Text Label Style
    + span:not(.lever) {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 14px;
      user-select: none;
    }

    /* checkbox aspect */
    + span:not(.lever):before,
    &:not(.filled-in) + span:not(.lever):after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 1px solid $radio-empty-color;
      border-radius: 1px;
      margin-top: 3px;
      transition: .2s;
    }

    &:not(.filled-in) + span:not(.lever):after {
      border: 0;
      transform: scale(0);
    }

    &:not(:checked):disabled + span:not(.lever):before {
      border: none;
      background-color: $input-disabled-color;
    }

    // Focused styles
    &.tabbed:focus + span:not(.lever):after {
      transform: scale(1);
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
      background-color: rgba(0, 0, 0, .1);
    }
  }

  [type="checkbox"]:checked {
    + span:not(.lever):before {
      top: -4px;
      left: -5px;
      width: 12px;
      height: 22px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: $radio-border;
      border-bottom: $radio-border;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    &:disabled + span:before {
      border-right: 2px solid $input-disabled-color;
      border-bottom: 2px solid $input-disabled-color;
    }
  }

  /* Indeterminate checkbox */
  [type="checkbox"]:indeterminate {
    + span:not(.lever):before {
      top: -11px;
      left: -12px;
      width: 10px;
      height: 22px;
      border-top: none;
      border-left: none;
      border-right: $radio-border;
      border-bottom: none;
      transform: rotate(90deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }

    // Disabled indeterminate
    &:disabled + span:not(.lever):before {
      border-right: 2px solid $input-disabled-color;
      background-color: transparent;
    }
  }

  // Filled in Style
  [type="checkbox"].filled-in {
    // General
    + span:not(.lever):after {
      border-radius: 2px;
    }

    + span:not(.lever):before,
    + span:not(.lever):after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }

    // Unchecked style
    &:not(:checked) + span:not(.lever):before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }

    &:not(:checked) + span:not(.lever):after {
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 2px solid $radio-empty-color;
      top: 0px;
      z-index: 0;
    }

    // Checked style
    &:checked {
      + span:not(.lever):before {
        top: 0;
        left: 1px;
        width: 8px;
        height: 13px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $input-background;
        border-bottom: 2px solid $input-background;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
      }

      + span:not(.lever):after {
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $secondary-color;
        background-color: $secondary-color;
        z-index: 0;
      }
    }

    // Focused styles
    &.tabbed:focus + span:not(.lever):after {
      border-radius: 2px;
      border-color: $radio-empty-color;
      background-color: rgba(0, 0, 0, .1);
    }

    &.tabbed:checked:focus + span:not(.lever):after {
      border-radius: 2px;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

    // Disabled style
    &:disabled:not(:checked) + span:not(.lever):before {
      background-color: transparent;
      border: 2px solid transparent;
    }

    &:disabled:not(:checked) + span:not(.lever):after {
      border-color: transparent;
      background-color: $input-disabled-solid-color;
    }

    &:disabled:checked + span:not(.lever):before {
      background-color: transparent;
    }

    &:disabled:checked + span:not(.lever):after {
      background-color: $input-disabled-solid-color;
      border-color: $input-disabled-solid-color;
    }
  }

  /* Radio Buttons
   ========================================================================== */

  // Remove default Radio Buttons
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  [type="radio"]:not(:checked) + span,
  [type="radio"]:checked + span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    transition: .28s ease;
    user-select: none;
  }

  [type="radio"] + span:before,
  [type="radio"] + span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
  }

  /* Unchecked styles */
  [type="radio"]:not(:checked) + span:before,
  [type="radio"]:not(:checked) + span:after,
  [type="radio"]:checked + span:before,
  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:before,
  [type="radio"].with-gap:checked + span:after {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked) + span:before,
  [type="radio"]:not(:checked) + span:after {
    border: 1px solid $radio-empty-color;
  }

  [type="radio"]:not(:checked) + span:after {
    transform: scale(0);
  }

  /* Checked styles */
  [type="radio"]:checked + span:before {
    border: 1px solid transparent;
  }

  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:before,
  [type="radio"].with-gap:checked + span:after {
    border: $radio-border;
  }

  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:after {
    background-color: $radio-fill-color;
  }

  [type="radio"]:checked + span:after {
    transform: scale(1.02);
  }

  /* Radio With gap */
  [type="radio"].with-gap:checked + span:after {
    transform: scale(.5);
  }

  /* Focused styles */
  [type="radio"].tabbed:focus + span:before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
  }

  /* Disabled Radio With gap */
  [type="radio"].with-gap:disabled:checked + span:before {
    border: 1px solid $input-disabled-color;
  }

  [type="radio"].with-gap:disabled:checked + span:after {
    border: none;
    background-color: $input-disabled-color;
  }

  /* Disabled style */
  [type="radio"]:disabled:not(:checked) + span:before,
  [type="radio"]:disabled:checked + span:before {
    background-color: transparent;
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled + span {
    color: $input-disabled-color;
  }

  [type="radio"]:disabled:not(:checked) + span:before {
    border-color: $input-disabled-color;
  }

  [type="radio"]:disabled:checked + span:after {
    background-color: $input-disabled-color;
    border-color: $input-disabled-solid-color;
  }

}