/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "dataTables/jquery.dataTables";

$orange: #F0AE00;

html {
  height: 102%;
}

body {
  width: 1000px;
  min-height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.navbar {
  height: 163px;
  padding: 0.5em 0;

  &__top {
    height: 110px;
    width: 100%;
    padding: 20px 18px;
  }

  &__bottom {
    color: rgb(238, 238, 238);
    height: 39px;
    background-color: black;
    width: 100%;
    font-size: 16px;
    padding: 0.5em 1.5em;

    ul {
      list-style: none;
      padding: 0;
      display: inline;

      li {
        display: inline;
        margin-left: 15px;

        &:first-of-type {
          margin-left: 0;
        }

        &:hover, &[class='active'] {
          color: #A5A5A5;
        }
      }
    }
  }
}

.media {

  &__image {
    img {
      max-width: 69px;
    }
  }

  &__content {
    padding-left: 8px;

    &--title {
      font-size: 35px;
      position: relative;
      top: -7px;
    }

    &--description {
      font-weight: normal;
      position: relative;
      top: -16px;
      letter-spacing: 2px;
      font-size: 19px;
    }

    &--cart {
      fill: $orange;
      position: absolute;
      right: 0px;
      top: 3em;
      text-align: right;
      padding-right: 10px;

      .quantity {
        fill: white;
        font-size: 50px;
      }
    }
  }
}

.pull-right {
  float: right;
}

.body {
  padding-bottom: 170px;
}

footer {
  position: absolute;
  bottom: 0;
  color: rgb(238, 238, 238);
  background-color: black;
  padding: 1.5em 1.5em;
  font-size: 15px;
  width: 100%;

  .first-col {

    &--title {
      font-size: 19px;
      margin-bottom: 5px;
    }

    &--social-media {
      margin-top: 20px;

      img {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }

}

.banner {
  position: relative;
  margin-top: 50px;

  &__content {
    position: absolute;
    top: 4em;
    left: 2em;
    width: 381px;
    padding: 12px;

    &--text {
      background-color: rgba(255, 255, 255, 0.7);
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &--button {
      top: 22em;
      left: 1.7em;
      background-color: $orange;
      padding: 8px 40px;
      font-size: 18px;
      display: inline-block;
      -webkit-transition: background-color 0.4s ease, color 0.4s ease;
      -moz-transition: background-color 0.4s ease, color 0.4s ease;
      -o-transition: background-color 0.4s ease, color 0.4s ease;
      transition: background-color 0.4s ease, color 0.4s ease;

      &:hover {
        color: black !important;
        background-color: white;
      }
    }
  }

  img {
    max-width: 1000px;
  }
}

.black-block {
  margin: 15px 0;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
}

.products-section {
  padding: 0 30px;
  margin-bottom: 15px;
  position: relative;

  &--left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
  }

  &--right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
  }

  &__title {
    text-align: center;
    font-size: 30px;
  }

  &__products-list {
    margin: 30px 0;

    &--product-item {
      display: inline-block;
      max-width: 220px;
      position: relative;
      margin: 5px;

      img {
        width: 220px;
        height: 220px;
      }

      &--title {
        margin-top: 5px;
        font-size: 14px;
      }

      &--ribbon {
        position: absolute;
        background-color: $orange;
        color: white;
        display: inline-block;
        padding: 1px 12px;
        top: 12px;
        font-weight: bold;
      }
    }

  }
}

.filter {
  width: 240px;
  padding: 30px 18px;
  display: inline-block;
  vertical-align: top;

  &__title {
    font-weight: 400;
    font-size: 26px;
    border-bottom: 0.5px solid #1F1F1F;
    padding-bottom: 15px;
  }

  &__control {
    margin-top: 15px;

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 15px;
      font-size: 14px;

      li {
        color: rgb(31, 31, 31);
      }

      li.active {
        font-weight: bold;
        color: black;
      }
    }
  }
}

.filtered-products {
  width: calc(100% - 245px);
  display: inline-block;

  .product-item {
    width: 225px;
    display: inline-block;
    margin: 0px 10px;
    padding: 0 20px;
    margin-bottom: 25px;
    position: relative;

    img {
      width: 205px;
      height: 205px;
    }

    .sale-ribbon {
      position: absolute;
      background-color: $orange;
      color: white;
      display: inline-block;
      padding: 1px 10px;
      top: 10px;
      font-weight: bold;
    }
  }

  .pagination {
    float: right;
    padding-right: 15px;
    margin-top: 20px;

    span {
      margin: 0 5px;
    }
  }

  .order-control {
    text-align: right;
    padding: 38px 40px 0;
    font-size: 16px;
    margin-bottom: 5px;

    a {
      border-width: 1px;
      border-style: solid;
      width: 213px;
      text-align: left;
      padding: 5px 15px 5px 12px;
      display: inline-block;
      background-image: image-url("dropdown-icon.png");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 185px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    position: absolute;
    border-top: none;
    z-index: 10;
    display: none;

    ul {
      list-style: none;
      padding: 0;
      background-color: white;

      li {

        a {
          border-top: none;
          border-bottom: none;
          background: none;
        }

        a.active {
          background-image: image-url("checkmark-icon.png");
          background-repeat: no-repeat;
          background-size: 28px;
          background-position: 180px;
        }

        &:last-of-type {
          a {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}

.product-image {
  width: 500px;
  font-size: 15px;
  display: inline-block;

  img {
    width: 500px;
    height: 500px;
    border: 1px solid;
  }
  .thumbnail-list {
    text-align: left;
    margin-bottom: 10px;

    .thumbnail {
      width: 43px;
      height: 43px;
      border: 1px solid;
      margin-right: 10px;
      margin-top: 10px;
    }

    .thumbnail.active {
      border: 2px solid;
    }
  }
}

.product-detail {
  width: 370px;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;

  &--title {
    font-size: 33px;
    font-weight: 400;
  }

  &--price {

  }

  &--quantity {
    margin-top: 20px;

    &--title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &--category-item {
      margin-bottom: 3px;
      font-size: 14px;
    }
  }
}

.navigation {
  padding: 20px 45px 0;
  font-size: 14px;

  .material-icons {
    position: relative;
    top: 8px;
  }

  &--breadcrumb {
    display: inline-block;
  }

  .pull-right {
    position: relative;
    top: -8px;
  }
}

.error {
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
  font-weight: bold;

  &--title {
    font-size: 120px;
    margin-bottom: 20px;
    line-height: 90px;
  }
}

.input-form {
  padding: 10%;

  .input-control {
    width: 100%;
    display: table;
    margin-bottom: 10px;

    label {
      display: table-cell;
      width: 15%;
      vertical-align: top;
    }

    input:not([type='checkbox']), textarea, .input-area {
      display: table-cell;
      width: 100%;
    }
  }
}

.pill-button {
  background-color: $orange;
  color: white;
  padding: 8px 40px;
  font-size: 18px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 10px;
}