<div class="modal-content">
  <h5>HỦY ĐƠN</h5>
  <div class="materialize">
    <table class="striped">
      <thead>
      <td>NGÀY NHẬP</td>
      <td>SỐ LƯỢNG</td>
      <td></td>
      </thead>
      <% @case.case_categories.map(&:order_details).flatten.each do |order_detail| %>
        <tr>
          <td>
            <%= order_detail.created_at.strftime(LONG_DATE_FORMAT) %>
          </td>
          <td>
            <%= order_detail.quantity %>
          </td>
          <td>
            <a onclick="removeOrder(<%= order_detail.id %>)" href="javascript:void(0)">Hủy</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<script>
    function removeOrder(id) {
        if(confirm('Hủy Hàng?')){
            M.Modal.getInstance($('#modal1')).close();
            url = "/admin/orders/" + id,
            $.ajax({
                url: url,
                type: 'DELETE',
                data_type: 'JSON',
                success: function (data) {
                    $('#chart-container').html(data);
                }
            })
        }
    };
</script>
